name: Weather Bot

on: 
  push:
  schedule:
  - cron: '30 23 * * *'

jobs:
  bot:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: setup
      run: | 
        sudo apt-get install wget curl
    - name: 'get weather'
      run: |
        rm -f taichung.png
        wget wttr.in/taichung_mq_lang=zh.png
        mv taichung_mq_lang=zh.png taichung.png
    - name: 'commit'
      run: |
        echo $(date '+%Y-%m-%d %T') > date
        git config --local user.email "cash@cashwu.com"
        git config --local user.name "cash"
        git add .
        git commit -m "add weather image"
    - name: 'push changes'
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
    - name: 'get date'
      run: echo "::set-env name=DATE::$(TZ=':Asia/Taipei' date '+%Y-%m-%d %T')"
    - name: 'send mail'
      uses: dawidd6/action-send-mail@master
      with:
        server_address: smtp.gmail.com
        server_port: 465
        username: ${{ secrets.MAIL_USERNAME }}
        password: ${{ secrets.MAIL_PASSWORD }}
        subject: Weather Report (${{env.DATE}})
        body: <img src='https://raw.githubusercontent.com/cashwu/WeatherBot/master/taichung.png?${{env.DATE}}' alt="weather" />
        to: cash@cashwu.com
        from: weather@cashwu.com
        content_type: text/html
