name: Weather Bot

on: 
  push:
  schedule:
  - cron: '30 23 * * *'

jobs:
  bot:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: setup
      run: | 
        sudo apt-get install wget
        sudo apt-get install curl
    - name: 'get weather'
      run: |
        mv taichung.png
        wget wttr.in/taichung.png
    - name: 'commit file'
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add taichung.png
        git commit -m "add weather image"
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
    - name: 'get date'
      run: echo "::set-env name=REPORT_DATE::$(TZ=':Asia/Taipei' date '+%Y-%m-%d %T')"
    - name: 'send mail'
      run: |
        echo ::set-env name=IMAGE::https://raw.githubusercontent.com/$GITHUB_REPOSITORY/master/taichung.png
        echo ::set-evn name=EMAIL_TO::cash@cashwu.com
        echo ::set-evn name=EMAIL_FROM::weather@cashwu.com
        echo ::set-evn name=SUBJECT::Weather Report (${{env.REPORT_DATE}}) 
        curl --request POST --url https://api.sendgrid.com/v3/mail/send --header "Authorization: Bearer ${{ secrets.SENDGRID_API_KEY }}" --header 'Content-Type: application/json' --data '{ "personalizations": [ { "to": [ { "email": "${{env.EMAIL_TO}}" } ], "subject": "${{env.SUBJECT}}" } ], "from": { "email": "${{env.EMAIL_FROM}}" }, "content": [ { "type": "text/html", "value": "<img src='${{env.IMAGE}}' />" } ]}'
        
        
        
