name: Weather Bot

on: 
  push:
  schedule:
  - cron: '30 23 * * *'

jobs:
  bot:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: setup
      run: | 
        sudo apt-get install wget
        sudo apt-get install curl
    - name: 'get weather'
      run: |
        rm -f taichung.png
        wget wttr.in/taichung.png
    - name: 'commit'
      run: |
        echo $(date '+%Y-%m-%d %T') > date
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add .
        git commit -m "add weather image"
    - name: 'push changes'
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
    - name: 'send mail'
      run: |
        curl --request POST --url https://api.sendgrid.com/v3/mail/send --header 'Authorization: Bearer ${{ secrets.SENDGRID_API_KEY }}' --header 'Content-Type: application/json' --data '{ "personalizations": [ { "to": [ { "email": "cash@cashwu.com" } ], "subject": "Weather Report" } ], "from": { "email": "weather@cashwu.com" }, "content": [ { "type": "text/html", "value": "<img src='https://raw.githubusercontent.com/cashwu/WeatherBot/master/taichung.png' />" } ]}'
        
        
        
